---
interface Props {
    name: string;
    position: string;
}
const { name, position } = Astro.props;

const [firstname, lastname] = name.split("_");
---

<div class="flex items-center space-x-4 border border-slate-400 p-3 rounded-md hover:bg-accent-950">
    <div class="w-20 h-20 overflow-hidden rounded-full">
        <img
            src={`../../../public/${name}.jpg`}
            alt={`${firstname} ${lastname}`}
            class="w-full h-full object-cover"
        />
    </div>
    <div class="!mt-0">
        <div class="text-xl font-extralight tracking-wide uppercase !mt-0">{firstname} {lastname}</div>
        <div class="text-md font-semibold tracking-wide !mt-0">{position}</div>
    </div>
</div>
